{% extends "universal/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load sekizai_tags %}
{% load compress %}

{% block content %}

{% addtoblock "css" %}
<style type="text/x-scss">
@import 'people/static/people/css/account.scss';
</style>
{% endaddtoblock %}

{% addtoblock "js-end" %}
<script type="text/javascript">
function setVH(){
	let vh = window.innerHeight * 0.01;
	document.documentElement.style.setProperty('--vh', `${vh}px`);
}
setVH();
window.addEventListener('resize', () => {
  setVH()
});
</script>
{% endaddtoblock %}
<div class="container" style="text-align: center;">
  <div class="row align-items-center justify-content-center">
    <div class="col">
        {% block account_content %}
        {% endblock account_content %}
    </div>
  </div>
</div>

{% endblock content%}

