# Django + plugins
Django~=3.0.0
django-extensions==3.0.9
django-compressor
django-celery-beat
django-libsass
django-sekizai
django-storages~=1.9.1
django-bower
django-debug-toolbar
django-ckeditor
django-allauth
django-redis
django-ses==1.0.3
djangorestframework==3.11.1
django-coreapi
django-autocomplete-light>=3.2.10
django-analytical
django-cors-headers
django-webpack-loader==0.7.0


# Miscelanious
boto
boto3
Pillow
celery[redis]==4.4.7
flower
libsass
gunicorn
psycopg2-binary
pycrypto
pytz
certifi
requests
simplejson
pylibmc
python-memcached
lxml
premailer
pygments
markdown
pyyaml
jellyfish==0.6
Collectfast==2.2.0
sentry-sdk
jupyter==1.0.0
ipython==7.18.1
