{% extends 'message/email/base_email.html' %}
{% load static sekizai_tags i18n compress %}


{% block subject %}
Password Reset
{% endblock %}


{% block heading %}
<h1>Kōrero Māori</h1>
{% endblock %}


{% block main %}
<h2>Kia ora,</h2>
<p>You're receiving this e-mail because you or someone else has requested a password reset for your account at <a href="https://{{site.domain}}">{{ site.name }}</a>.
Click the link below to reset your password.</p>

<p>{{ password_reset_url }}</p>

{% endblock %}


{% block footer %}
<p style="font-size: 0.8rem;">
Te Reo Irirangi o Te Hiku o Te Ika<br>
1 Melba Street, Level 2, Kaitaia 0410, Aotearoa
</p>
{% endblock %}
