{% extends 'message/email/base_email.html' %}
{% load static sekizai_tags i18n compress %}
{% block subject %}{{subject}}{% endblock %}


{% block heading %}
<h1 style="font-weight: 300; margin-top: 0px;">Important message to members of <span style="font-weight: 900;">{{group}}</span></h1>
{% endblock %}


{% block main %}
{{content|safe}}

<hr>

<p>
  Check out your group's page here: <a href="{{ url_append }}{% url 'competition_group' group.pk %}">{{group.name}}</a>
<p>

{% if valid.count > 6 %}
  <p>
    <b>Your group qualifies for the competition</b>
  </p>
{% endif %}

<p>
  There are {{people.count}} members in {{group.name}}.
</p>

<p>
  The following users have joined your group:
  <ul>
    {% for p in people %}<li>{{p.username}}</li>{% endfor %}
  </ul>
</p>
{% endblock %}
