<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Site Maintenance</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 60px; font-weight: 100;}
  body { font: 30px Helvetica, sans-serif; color: #333; font-weight: 300;}
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: rgb(220,34,80); text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
</head>
<body>
<article>
    <h1>We&rsquo;ll be back soon!</h1>
    <div>
        <p style="text-align: left;">Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. If you need to you can always <a href="mailto:support@tehiku.co.nz">contact us</a>, otherwise we&rsquo;ll be back online shortly!</p>
        <p>ngā mihi,</p>
        <p style="text-align: left;"><img src="https://tehiku.nz/static/website/images/tehikumedia.logo.whai.3.png" style="width: 200px;"></p>
    </div>
</article>
</body>
</html>