##
## Clustering
## =====================
##

## Make clustering happen *automatically* at startup. Only applied
## to nodes that have just been reset or started for the first time.
##
## Relevant doc guide: http://rabbitmq.com//cluster-formation.html
##


cluster_formation.peer_discovery_backend = rabbit_peer_discovery_aws

cluster_formation.aws.region = {{aws_region}}
cluster_formation.aws.access_key_id = {{rabbitmq_aws_id}}
cluster_formation.aws.secret_key = {{rabbitmq_aws_key}}


cluster_formation.aws.use_private_ip = true

cluster_formation.aws.instance_tags.app = {{project_name}}
cluster_formation.aws.instance_tags.env_type = {{env_type}}
cluster_formation.aws.instance_tags.server_type = {{server_type}}


# cluster_formation.aws.use_autoscaling_group = true


# cluster_formation.classic_config.nodes.1 = rabbit1@hostname
# cluster_formation.classic_config.nodes.2 = rabbit2@hostname
# cluster_formation.classic_config.nodes.3 = rabbit3@hostname
# cluster_formation.classic_config.nodes.4 = rabbit4@hostname
